@font-face {
    font-family: 'Ruda';
    src:url(./font/Ruda-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Open-Sans';
    src: url(./font/OpenSans-Regular.ttf) format('truetype');
}