.projects{

    // on donne une marge, la couleur texte et on aligne le texte

    margin-top: 2%;
    padding-top: 5%;
    color: $last-Color;
    text-align: center;
}

.project{

    // on donne une marge, on flex les éléments et on les écarte.

    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}

.box{

    // on change la couleur du texte, on récupère l'héritage %box et on centre le texte

    display:flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-Color;
    @extend %box;
}


.box  img{
    
    // on donne une taille à l'image , une marge , un border radius et un border
    width: 90%;
    margin-top: 2%;
    border-radius: 5%;
    border: $secondary-Color solid 1px;
}

.box_Bot{
 
    // on flex les éléments, on les mets en colonne 
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.button{
    // on donne une marge au button et l'héritage %button

    margin-top: 10%;
    @extend %button;
}

.button:hover{

    @extend %button:hover
    
}

@media screen and (max-width: 768px){

    .project{
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .box{
        
        width: 80%;
        margin-top: 5%;
    }

    .project .button{
        margin-bottom: 20%;
    }
}