.skills{
    
    //On donne une couleur au fond, on align le texte et on donne du padding

    background-color: $last-Color;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.skill{
    // on donne une marge, on flex les éléments et on les écarte

    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.skill > div > p {
    // on donne un margin et une font 

    margin-top: 10%;
}

.element{
    // on donne a chaque éléments une taille de 30%

    width: 30%;
}

.front{

    // on flex les éléments
        
    margin-top: 10%;
    display: flex;
    justify-content: space-around;  
}

.logo_Front-end{
    display: flex;
    flex-direction: column;
}

.logo_Front-end{

    width: 96px;
    height: auto;
}

.logo_CSS{

    margin-top: 50%;
}

@media screen and (max-width: 768px){

    .skills{
        
        background-color: $last-Color;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 15%;
    }

    .skill{
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .element{
    
        width: 100%;
    }

}